
.ai-follow {
  align-items: center;
  background-color: #3273dc;
  border-color: transparent;
  border-left: 210px;
  border-radius: 290486px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  height: 1.5em;
  justify-content: center;
  margin: 10px;
  outline: 0;
  padding-bottom: calc(.375em - 1px);
  padding-top: calc(.375em - 1px);
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  user-select: none;
  white-space: nowrap;
}

.followme {
  color: $grey;
  padding: 1em 1.5em;
  text-align: center;
  post-card();

  .social-list {
    flex-wrap();

    .social-item {
      margin: .5em 2em;

      +tablet-mobile() {
        margin: .5em .75em;
      }
    }

    .social-link {
      border: 0;
      display:inline-block;
      text-align: center;

      .icon {
        font-size: 1.75em;
      }

      .label {
        display: block;
        font-size: 14px;
      }
    }
  }
}
